<form method="post" action="{{ path('app_picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette photoe?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn btn-outline-danger mt-2" title="Supprimer"><i class="fa-solid fa-trash-can"></i></button>
</form>
