/* Reset margin and padding on site */
*{
    margin: 0; 
    padding: 0;
    box-sizing: 0;
}

/* navbar */
.icon-navbar {
    width: 30px;
    height: auto;
}

.navbar {
    border: black;
    box-shadow: 0 10px 35px -2px #252525;
    border-radius: 0 0 25px 25px;
}

.nav-link:hover {
    font-weight: bold;
}

.icon-navbar {
    width: 75px;
}

/* Search Bar */
.search {
    border-radius: 25px;
    padding: 8px;
}

.search:hover {
    box-shadow: 10px 10px 40px rgb(176, 196, 222);
}

.go {
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-left: 10px;
    font-size: 20px;
}

.go:hover {
    color:rgb(112, 112, 251);
}

/* Homepage */
.homepage {
    display: flex;
    justify-content: center;
}

.homepage__img {
    width: 60%;
    border-radius: 5%;
    box-shadow: 5px 5px 30px 5px #000000;
}

h1,
h2 {
    color: rgb(112, 112, 251);
}

a {
    text-decoration: none;
}

.card:hover {
    /* box-shadow: 10px 10px 40px rgb(150, 130, 130); */
    box-shadow: 10px 10px 40px rgb(176, 196, 222);
}

.photoShow {
    width: 300px;
    height: auto;
}

hr {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* footer */
html {
    /* To put the footer at the bottom of the page */
    min-height: calc(100vh - 100px);
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    bottom: 0;
    left:0;
    right:0;
    padding-top: 50px;

}

/* Photos animation */
.picture, .pictureMateriel {
    width: 30%;
    height: auto;
    border-radius: 25px;
    transition: all 2s ease;
}

.picture:hover {
    width: 50%;
    height: auto;
    transition: all 2s ease;
}

/* Btn back top top*/
.back-to-top {
    position: fixed;
    width: 20;
    height: 20;
    bottom: 20px;
    right: 20px;
}

.fa-chevron-left,
.fa-chevron-right {
    color: rgb(112, 112, 251);
}

@media(max-width:992px) {
    body,
    h2 {
        font-size: 2rem;
    }

    .icon-navbar {
        width: 100px;
    }

    h1 {
        font-size: 3rem;
    }

    .card-title {
        font-size: 3rem;
    }

    .card-description,
    .card-btn {
        font-size: 2.5rem;
    }

    .unshow {
        display: none;
    }

    footer {
        font-size: 1em;
        border-top: 1px solid rgb(176, 196, 222);
    }

    .back-to-top {
        width: 50px;
        height: auto;
    }

    .homepage__img {
        width: 100%;
        border-radius: 5%;
        box-shadow: 5px 5px 30px 5px #000000;
    }

    .picture, .pictureMateriel {
        width: 75%;
        height: auto;
        transition: all 2s ease;
    }

    .picture:hover {
        width: 100%;
        height: auto;
        transition: all 2s ease;
    }
}