<form method="post" action="{{ path('app_material_delete', {'id': material.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce matériel?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn btn-outline-danger mt-2" title="Supprimer"><i class="fa-solid fa-trash-can"></i></button>
</form>
