<footer class="footer text-center">
    <p><a href="https://www.peche35.fr/3680-maison-peche-et-nature.html" target="_blank">Maison pêche et nature</a></p>
    <p>@<a href="mailto:bruno.dev@gmail.com">BDDev</a></p>
</footer>