<form method="post" action="{{ path('app_fishing_delete', {'id': fishing.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette pêche?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fishing.id) }}">
    <button class="btn">Supprimer</button>
</form>
