{% extends 'base.html.twig' %}

{% block title %}Modifier une pêche{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Modifier une pêche</h1>

    {{ include('fishing/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="container">
        <a href="{{ path('app_fishing_index') }}" class="btn btn-outline-success mt-2">Retour à la liste</a>

        {{ include('fishing/_delete_form.html.twig') }}
    </div>
{% endblock %}
